# Arquivos de compilação
*.o
*.out

# Arquivos de backup
*~
*.swp

# Diretório de dependências
node_modules/
vendor/

# Arquivos de configuração sensíveis
.env

# Logs e arquivos temporários
log/
tmp/
Mongo DB/todo list
